.users-actions {
    position: absolute;
    top: 47px;
    left: 0;
    display: flex;
    flex-direction: column;
    gap: 4px;
    background: var(--bg-secondary);
    padding: 8px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.2);
    z-index: 10;

    &-edit {
        color: yellow;
    }

    &-delete {
        color: red;
    }
}
