.auth-container {
  display: flex !important;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 54px);
}

.auth-card {
  width: 600px;
  padding: 48px;
  background-color: var(--main) !important;
}

.auth-alert {
  color: red;
  font-size: 18px;
}

.auth-title {
  margin: auto;
  margin-bottom: 10px;
  color: var(--white);
  text-align: center;
}

.auth-form {
  display: flex;
  flex-direction: column;
}

.auth-input {
  margin-top: 20px !important;
  margin-bottom: 10px !important;
}

.auth-links {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.auth-link {
  padding-top: 20px;
  color: var(--white) !important;

  & a {
    color: var(--white) !important;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.auth-submit {
  width: 100%;
  margin-top: 10px !important;
}


.auth-select {
  margin-top: 20px;
  margin-bottom: 10px;
  padding: 16.5px 14px;
  border: 1px solid rgba(255, 255, 255, 0.23);
  border-radius: 4px;
  background-color: transparent;
  color: var(--white);
  font-size: 16px;
  outline: none;
  width: 100%;
  appearance: none;
  transition: border-color 0.2s ease;

  &:focus {
    border-color: #90caf9; // колір фокусу як у MUI
  }

  option {
    color: black; // текст у списку
  }
}
